@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts//SF-Pro-Display-Regular.otf");
}

.main-container {
  height: 100vh !important;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-container:hover {
  height: 60px !important;
}

.appbar {
  flex: 1 1 0;
  max-width: 560px !important;

  margin-right: 10px;
  margin-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 16px;
  background-color: #7bafdd;

  overflow: hidden;
}


.header-container {
  height: 42px;
  transition: height 0.35s ease-in-out;
}

.content-container {
  margin-top: 10px;
  background-color: darksalmon;
}

.helper-container {
  width: 350px !important;
  border-radius: 16px;
  background-color: #7bafdd;
}

.remote-container {
  width: 250px !important;
  border-radius: 16px;
  background-color: #7bafdd;
}

.content-sidehelper-container {
  width: 350px;
  background-color: rebeccapurple;
}

.main-content-container {
  margin-left: 10px;
  background-color: darkseagreen;
}

/* @media (min-width: 1500px) {
  .island-container {
    margin-right: 200px;
    margin-left: 200px;
  }
} */

.test {
  background-color: blue;
}
.test2 {
  background-color: aqua;
}
