.sidebar {
  width: 81px;
  height: 100%;
  margin-right: 15px;
  padding-top: 78px;
  padding-right: 23px;
  padding-left: 23px;
  border-radius: 16px;
  background-color: #5b9bd5;

  transition: width 0.35s ease-in-out;

  overflow: hidden;
}
.sidebar:hover {
  width: 187px !important;
}

.sidebar-btn {
  height: 35px;
  margin-bottom: 25px;
  text-decoration: none !important;
}
.sidebar-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.sidebar-btn-icon {
  width: 35px;
  height: 100%;
  object-fit: scale-down;
}

.sidebar-btn-label {
  margin-left: 10px;
  /* font-family: "SF Pro Display"; */
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #adcdea;

  white-space: nowrap;

  transition: color 0.35s ease-in-out;
}
.sidebar .sidebar-btn-label {
  display: none;
}
.sidebar:hover .sidebar-btn-label {
  display: block;
}
.sidebar-btn.active .sidebar-btn-label {
  color: white;
}
